# Firebase Configuration
FIREBASE_DATABASE_URL=https://dadn252-default-rtdb.asia-southeast1.firebasedatabase.app

# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD= yourpassword
DB_NAME=SmartGardenDB

# Device Configuration
DEVICE_ID=1

# Server Configuration
PORT=3000
NODE_ENV=development